.progressbar {
    width: 100%;
    position: absolute;
    bottom: 2px;
}

.progressbar .inner {
    z-index: 2000;
    height: 2px;
    animation: progressbar-countdown;
    /* Placeholder, this will be updated using javascript */
    animation-duration: 40s;
    /* We stop in the end */
    animation-iteration-count: 1;
    /* Stay on pause when the animation is finished finished */
    animation-fill-mode: forwards;
    /* We start paused, we start the animation using javascript */
    animation-play-state: paused;
    /* We want a linear animation, ease-out is standard */
    animation-timing-function: linear;
    position: absolute;
    top: 0;
}

@keyframes progressbar-countdown {
    0% {
        width: 100%;
        background:#007acc;
    }
    100% {
        width: 0%;
        background: #007acc;
    }
}