<div id="sidebar-wrapper">
    <template v-if="links.length > 0">
        <ul class="sidebar-nav nav-pills nav-stacked" id="menu">

            <template v-for="link in links">
            <li :class="{active: currentView == link.view}">
                <a @click.prevent="changeView(link.view)"  href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-{{link.icon}} fa-stack-1x "></i></span> {{link.name}}</a>
            </li>
            </template>
            <li>
                <a @click.prevent="changeView('comp1')" href=""><span class="fa-stack fa-lg pull-left"><i class="fa fa-wrench fa-stack-1x "></i></span>Test Link 1</a>
            </li>
            <li>
                <a @click.prevent="changeView('comp2')" href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-wrench fa-stack-1x "></i></span>Test Link 2</a>
            </li>
            <li>
                <a @click.prevent="changeView('comp3')" href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-wrench fa-stack-1x "></i></span>Test Link 3</a>
            </li>  
        </ul>
    </template>
    <template v-else>
        Menu is empty.
    </template>
</div><!-- /#sidebar-wrapper -->