/*
body {
  font-family: Menlo, Consolas, monospace;
  color: #444;
}
.item {
  cursor: pointer;
}
.bold {
  font-weight: bold;
}
ul {
  padding-left: 1em;
  line-height: 1.5em;
  list-style-type: dot;
}
*/


.treeview .list-group-item {
    cursor: pointer;
}
.treeview span.indent {
    margin-left: 10px;
    margin-right: 10px;
}
.treeview span.icon {
    margin-right: 5px;
    width: 12px;
}
.treeview .node-disabled {
    color: silver;
    cursor: not-allowed;
}
.node-treeview-checkable {
}
.node-treeview-checkable:hover:not(.node-disabled) {
    background-color: #f5f5f5;
}